@model QuestionViewModel
@if (Model.AnswerOptions != null)
{

    @foreach (var i in Model.AnswerOptions)
    {
<div class="form-check checkbox-inline col-4">
    <input class="form-check-input" type="radio" id="@i.Id" name="Q|@i.QuestionId|B" value="@i.Id">@i.Option
</div>
    }

}

@*//DISABLE
    <label class="checkbox-inline">
        <input type="checkbox" id="Check3" value="Bootstrap" disabled> Bootstrap
    </label>*@