<footer class="main-footer">
    <div class="justify-content-center d-none d-sm-inline">
        <strong>Copyright &copy; @DateTime.Now.Year <a href="https://www.lusodata.pt/" target="_blank">Lusodata</a>.</strong> @LocalizerGeneral["Todos os direitos reservados."]
        <img  height="40" width="180" align="right" src="https://www.lusodata.pt/wp-content/themes/pdm-lusodata/assets/images/logo-lusodata.svg" alt="Lusodata">
    </div>
</footer>