<ul class="navbar-nav">
    @if (AppUser.IsAuthenticated())
    {
        <li class="nav-item">
            <a class="nav-link text-dark" title="Manage">Olá @AppUser.GetUserEmail()</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Logout">Sair</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="btn btn-primary" asp-controller="Account" asp-action="Login">Login</a>
        </li>
    }
</ul>