<div class="row" style="max-width: 500px;">
    <div class="col-sm-2"><input type="submit" value="@LocalizerGeneral["Guardar"]" class="btn btn-primary" /></div>
    <div class="col-sm-2"><a asp-action="Index" asp-controller="Patients" class="btn btn-link">@LocalizerGeneral["Voltar"]</a></div>
</div>