@{
    ViewData["Title"] = LocalizerGeneral["Página inicial"];
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">@LocalizerGeneral["Bem vindo"]</h1>
</div>
